*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 #logo{
     height: 4vw;
     width: 8vw;
 }
 .logo-background{
     background-color: rgba(243, 244, 246, 0.904);
     border-radius: 8%;
 }
 
 .navbar{
     /* position: fixed; */
     height: 7vw;
     background-color: rgba(21, 83, 207, 0.281);
     z-index: 2;
 }
 .links-bar{
     display: flex;
     height: 7vw;
     align-items: center;
     margin-left: 1vw;
     margin-right: 1vw;
     justify-content: space-between;
 }
 .nav-links{
  text-decoration: none;
  color: white;
  background-color: rgba(65, 65, 180, 0.621);
  width: 100px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
 }
 .nav-links:hover{
  background-color: rgba(86, 86, 234, 0.578) ;
 }
 
 .link{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 2rem;
     height: 4vw;
     color: black;
     text-decoration: none;
     background-color: rgb(236, 236, 245);
 }
 .oper-bar-box{
  right: 0;
  position: fixed;
    display: flex;
    align-items: end;
    justify-content: flex-end;
 }
 
   
.open-bar{
    width: 20vw;
    height: 30vw;
    background-color:  rgba(21, 83, 207, 0.281);
}







 .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
 

 