.volunteering{

}
.hero-section-filters{
    height: 38vw;
    background-image: url('https://www.ynet.co.il/PicServer5/2020/04/11/9902972/990296601000100980650no.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.all-helps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.select-style{
    width: 15vw;
    height: 5vw;
    background-color: rgba(93, 93, 192, 0.774);
    font-size: 2vw;
}
.selects{
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}
.demo-multiple--label{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2vw;
}

.search-button {
  margin-top: 5vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    background-color: #346eca;
    width: 120px;
    height: 70px;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid #212121;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
      2px 2px 2px rgba(0, 0, 0, 0.1),
      -3px -3px 2px rgba(255, 255, 255, 0.05),
      -2px -2px 1px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
  }
  
  .search-button .span-button {
    position: relative;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .search-button::before {
    content: "";
    position: absolute;
    background-color: #e8e8e8;
    width: 150%;
    height: 150%;
    left: 0%;
    bottom: 0%;
    transform: translate(-100%, 100%) rotate(45deg);
    border-radius: 15px;
  }
  
  .search-button:hover::before {
    animation: shakeBack 0.6s forwards 0.6s;
  }
  
  .search-button:hover .span-button {
    scale: 1.2;
  }
  
  .search-button:hover {
    box-shadow: none;
  }
  
  .search-button:active {
    scale: 0.95;
  }
  
  @keyframes shakeBack {
    0% {
      transform: translate(-100%, 100%) rotate(45deg);
    }
  
    50% {
      transform: translate(15%, -15%) rotate(45deg);
    }
  
    100% {
      transform: translate(-10%, 10%) rotate(45deg);
    }
  }
  
@media (max-width:550px ) {
  .select-style{
    width: 15vw;
    height: 5vw;
    background-color: rgba(93, 93, 192, 0.774);
    font-size: 3vw;
}
.select{
    font-size: 4vw;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.demo-multiple--label{
  font-size: 4vw;
}
.selects{
  display: flex;
  margin-bottom: -50px;
}
}
@media (max-width:350px ) {
  .select-style{
    width: 15vw;
    height: 5vw;
    background-color: rgba(93, 93, 192, 0.774);
    font-size: 3vw;
}
.select{
    font-size: 4vw;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -100px;
}
.demo-multiple--label{
  font-size: 4vw;
}
.selects{
  display: flex;
  flex-direction: column;
}
}
@media (max-width:430px ) {
  .select-style{
    width: 15vw;
    height: 5vw;
    background-color: rgba(93, 93, 192, 0.774);
    font-size: 3vw;
}
.select{
    font-size: 4vw;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -100px;
}
.demo-multiple--label{
  font-size: 4vw;
}
.selects{
  display: flex;
  flex-direction: column;
}
.search-button {
  margin-top: 5vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    background-color: #346eca;
    width: 100px;
    height: 60px;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid #212121;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
      2px 2px 2px rgba(0, 0, 0, 0.1),
      -3px -3px 2px rgba(255, 255, 255, 0.05),
      -2px -2px 1px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
  }
}
